<main class="wrapper">
  <div *ngIf="planet" class="planet-card_info">
    <h2>{{ planet.name }}</h2>
    <p class="planet-card_info__item">Diameter: {{ planet.diameter }}</p>
    <p class="planet-card_info__item">Orbital period: {{ planet.orbital_period }}</p>
    <p class="planet-card_info__item">Rotation period: {{ planet.rotation_period }}</p>
  </div>

  <table>
    <caption>Residents</caption>
    <thead>
      <tr>
        <th>Name</th>
        <th>
          Gender
          <label> Select: </label>
          <select (change)="handleSort($event)">
            <option default>-</option>
            <option>Male</option>
            <option>Female</option>
            <option>n/a</option>
          </select>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let resident of residents">
        <td>{{ resident.name }}</td>
        <td>{{ resident.gender }}</td>
      </tr>
    </tbody>
  </table>

  <button type="button" (click)="goBack()" class="button-back">go back</button>
</main>
