.message {
  background-color: #333;
  border-radius: 10px;
  width: calc(20% - 10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 100px;
  padding: 10px;
}
.message_title {
  color: #ffffff;
  font-size: 20px;
  font-weight: lighter;
}
.message_item {
  color: #ffffff;
  font-size: 16px;
}
.clear {
  color: #333;
  background-color: #eee;
  margin-bottom: 12px;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
}
.clear:hover {
  color: white;
  background-color: #42545c;
}
